.App {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  padding: 15px;
  margin-top: 25px;
  border: 3px solid #05351e;
  border-radius: 10px;
  background-color: rgb(50, 99, 102);
  color: #FFF;
  
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  column-gap: 10px;
  row-gap: 15px;

}
