.Button {
  background-color: #EFEFEF;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

.Button:hover {
    background-color: #BBB;
}

#clear {
  grid-column: 1 / 5;
}