.Display {
  text-align: center;
  height: 50px;
  background-color: #FFF;
  margin: 10px 40px 0px 40px;
  color: #000;
    p {
      float: right;
      font-size: 1.7em;
      font-weight: 500;
      line-height: 50px;
      margin: 0 10px 0 0;
    }

}
